.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 600px;
    // height: 600px;
    // background-color: white;
    box-shadow: var(--auth-shadow);
    padding: 24px;
    gap: 12px;
    background-color: var(--auth-bg-color);

    // h2 {
    //   text-align: center;
    // }
    .button_container {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}
