.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 10px;
  font-size: 14px;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 2px solid $disabled-color;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  transition: border-color 0.3s ease;

  .select {
    width: 100%;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    appearance: none; // Скрывает стандартную стрелку в большинстве браузеров
    color: $text-color-light;

    &:disabled {
      background-color: $disabled-color;
      color: $disabled-color;
      cursor: not-allowed;
    }
  }

  .select::-ms-expand {
    display: none; // Скрывает стрелку в IE и Edge
  }
}

.primary_border {
  outline: none;
  border-color: $primary-color;
}

.select_error {
  border-color: $error-color;
}

.select_warning {
  border-color: $warning-color;
}

.disabled {
  background-color: $disabled-color;
  border-color: $disabled-color;
  cursor: not-allowed;
}

.description {
  font-size: 14px;
  margin-top: 10px;
  &.info {
    opacity: 0.5;
  }
  &.warning {
    color: $warning-color;
  }
  &.error {
    color: $error-color;
  }
  &.success {
    color: $success-color;
  }
}
