.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  margin-bottom: 10px;
  font-size: 14px;
}

.container {
  position: relative;
  width: 100%;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--background-color);
  border: 1px solid $disabled-color;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
  z-index: 10;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.option {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.description {
  font-size: 14px;
  margin-top: 10px;

  &.info {
    opacity: 0.5;
  }
  &.warning {
    color: $warning-color;
  }
  &.error {
    color: $error-color;
  }
  &.success {
    color: $success-color;
  }
}

.input {
  cursor: pointer;
}

.arrow {
  transition: all 0.2s ease-in-out;

  &__isOpen {
    transform: rotate(180deg);
  }
}
