.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  padding: 16px 0px;
  transition: background-color 0.2s ease, opacity 0.2s ease; /* Плавное изменение цвета фона и прозрачности */
  opacity: 0.5;
  &[data-isOpen="true"] {
    opacity: 1;
  }
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
  path {
    stroke: var(--icon-color);
  }
  &[data-isOpen="true"] {
    transform: rotate(0deg);
  }
}

.content {
  transition: max-height 0.3s ease-out; /* Плавное открытие/закрытие */
}
