.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
