.switch {
  display: flex;
  background-color: var(--switch-background);
  border-radius: 22px;
  padding: 5px;
  width: 200px;
  height: 42px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  position: relative;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 16px;
  color: var(--switch-text-inactive);
  transition: color 0.3s ease;
  z-index: 1;

  .icon {
    margin-right: 6px;
    fill: var(--switch-text-inactive);

    path {
      fill: var(--switch-text-inactive);
    }
  }
}

.active {
  color: var(--switch-text-active);

  .icon {
    fill: var(--switch-text-active);
    path {
      fill: var(--switch-text-active);
    }
  }
}

.slider {
  position: absolute;
  top: 4px;
  bottom: 4px;
  width: 100px;
  background-color: var(--switch-slider-bg);
  border-radius: 18px;
  transition: all 0.5s ease;
  left: 0px;
}

.slider-light {
  transform: translateX(4px);
}

.slider-dark {
  transform: translateX(96px);
}
