.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-radius: 12px;
  border: 2px dashed var(--border-color);
  padding: 24px 16px 16px;
  gap: 10px;
}

.task_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
}
